.my-icon {
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}

/* 菜单底部图标 */

.icon-footer {
    width: 39.12px;
    height: 37.69px;
}

.icon-use {
    background-image: url('../../static/icon/use.png');
}

.active>.icon-use {
    background-image: url('../../static/icon/use_active.png');
}

.icon-vehicle {
    background-image: url('../../static/icon/bar_icon.png');
}

.active>.icon-vehicle {
    background-image: url('../../static/icon/bar_icon_active.png');
}

.icon-goodfriend {
    background-image: url('../../static/icon/firend.png');
}

.active>.icon-goodfriend {
    background-image: url('../../static/icon/firend_active.png');
}

.icon-my {
    background-image: url('../../static/icon/my.png');
}

.active>.icon-my {
    background-image: url('../../static/icon/my_active.png');
}

.icon-next {
    width: 20.09px;
    height: 35.09px;
    background-image: url('../assets/icon_next.png')
}

.login-icon {
    width: 48px;
    height: 48px;
}

/* 登录 */

.login-form-input {
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 20px center;
}

.login-form-input.phone {
    background-image: url('../assets/icon_phone.png');
}

.login-form-input.password {
    background-image: url('../assets/icon_pwd.png');
}

.login-form-input.subpwd {
    background-image: url('../assets/icon_subpwd.png');
}

/* 验证码 */

.verification {
    background-image: url('../assets/icon_verification.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 20px center;
}

.icon-error {
    width: 35px;
    height: 35px;
    background-image: url("../assets/icon_error.png");
    background-position: 0px 3px;
    vertical-align: baseline;
}

.van-icon-ellipsis {
    color: #fff !important;
    font-size: 48px !important;
}

/* 用车 */

.icon-down {
    width: 30px;
    height: 30px;
    background-image: url("../assets/icon_down.png");
    background-repeat: no-repeat;
}

.icon-endtime {
    width: 30px;
    height: 30px;
    background-image: url("../assets/icon_time.png");
    background-repeat: no-repeat;
}

.icon-idcode {
    width: 30px;
    height: 30px;
    background-image: url("../assets/icon_car.png");
    background-repeat: no-repeat;
}

.icon-useperson {
    width: 30px;
    height: 30px;
    /* background-image: url("../assets/icon_car.png"); */
    background-repeat: no-repeat;
}

.icon-mycode {
    width: 30px;
    height: 30px;
    background-image: url("../assets/icon_code.png");
    background-repeat: no-repeat;
}

.icon-set {
    width: 30px;
    height: 30px;
    background-image: url("../assets/icon_set.png");
    background-repeat: no-repeat;
}

.icon-out {
    width: 30px;
    height: 30px;
    background-image: url("../assets/icon_out.png");
    background-repeat: no-repeat;
}

.van-icon-arrow-left {
    font-size: 48px !important;
    color: #fff !important;
}

.icon-prev {
    width: 0.5rem;
    height: 2.19rem;
    background-image: url("../assets/icon_prev.png");
    background-repeat: no-repeat;
    background-position: center
}

.icon-next1 {
    width: 0.5rem;
    height: 2.19rem;
    background-image: url("../assets/icon_next1.png");
    background-repeat: no-repeat;
    background-position: center
}

.icon-jieche {
    width: 32px;
    height: 32px;
    background-image: url("../assets/icon_jieche.png");
    background-repeat: no-repeat;
}

.icon-search {
    width: 48px;
    height: 48px;
    background-image: url("../assets/icon_search.png");
}

.icon-qrcode {
    width: 48px;
    height: 48px;
    background-image: url("../assets/icon_qrcode.png");
}

.van-picker__toolbar {
    height: 0.88667rem;
    line-height: 0.88667rem;
}

.van-picker__title,
.van-picker__cancel,
.van-picker__confirm {
    font-size: 28px;
}
.van-picker__columns{
    flex-direction: column;
}
.van-picker-column {
    flex: 1 auto;
    overflow: hidden;
    font-size: 0.41333rem;
    text-align: center;
}