.my-icon {
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* 菜单底部图标 */

.icon-footer {
    width: 39.12px;
    height: 37.69px;
}

.icon-use {
    background-image: url('../../static/icon/use.png');
}

.active>.icon-use {
    background-image: url('../../static/icon/use_active.png');
}

.icon-vehicle {
    background-image: url('../../static/icon/bar_icon.png');
}

.active>.icon-vehicle {
    background-image: url('../../static/icon/bar_icon_active.png');
}

.icon-goodfriend {
    background-image: url('../../static/icon/firend.png');
}

.active>.icon-goodfriend {
    background-image: url('../../static/icon/firend_active.png');
}

.icon-my {
    background-image: url('../../static/icon/my.png');
}

.active>.icon-my {
    background-image: url('../../static/icon/my_active.png');
}

.icon-next {
    width: 20.09px;
    height: 35.09px;
    background-image: url('../assets/icon_next.png')
}

.login-icon {
    width: 48px;
    height: 48px;
}

/* 登录 */

.login-form-input {
    background-image: url('../assets/icon_zw.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 20px center;
}

/* 验证码 */

.verification {
    background-image: url('../assets/icon_zw.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 20px center;
}

.icon-error {
    width: 30px;
    height: 30px;
    background-image: url("../assets/icon_error.png")
}

.van-icon-ellipsis {
    color: #fff !important;
    font-size: 48px !important;
}