@defaultAllBgColor: #2a2838;
@defaultColor: #E7CE97;
@defaultBgColor: #E7CE97;
@defaultTextColor: #7B7B7B;
@deaultInputBgColor: rgba(248, 248, 248, 10%);
input::-webkit-input-placeholder {
    color: #383B41;
}

html,
body,
#app {
    font-family: PingFangSC-Regular;
    font-size: 28px;
    color: #383B41;
    height: 100%; // width: 750px; 
    background-color: #FAFBFC;
    .defaultColor {
        color: #E7CE97;
    }
    .defaultBgColor {
        color: #E7CE97;
    }
    button,
    input {
        outline: none;
        border-radius: 5px;
        border: none;
    }
    input {
        color: @defaultTextColor;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    input:focus,
    textarea:focus,
    select:focus,
    button:focus,
    a:focus {
        outline: none;
    } //body 公共
    .y-body {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        background-image: linear-gradient(-180deg, #000000 0%, #000000 100%);
    }
    .login-form {
        // height: 440px;
        margin: 0 auto;
        margin-bottom: 70px;
        color: @defaultTextColor;
        font-size: 28px;
        &-input {
            margin-bottom: 30px;
            background-color: rgba(248, 248, 248, 0.1); // opacity: 0.5;
            >input {
                &:hover {
                    border: 1px solid @defaultColor;
                }
                font-size: 28px;
                color: #fff;
                width: 630px;
                height: 88px;
                outline: none;
                border: 1px solid transparent;
                border-radius: 5px;
                padding-left: 80px; // color: @defaultTextColor;
                background-color: @deaultInputBgColor;
            }
        }
        &-button {
            height: 88px;
            margin-top: 30px;
            >button {
                outline: none;
                background: linear-gradient(#f5e9c8, #e7ce97);
                color: #52320d;
                width: 100%;
                text-indent: 10px;
                letter-spacing: 10px;
                height: 100%;
            }
        }
        &-register {
            margin-top: 46px;
            text-align: center;
            a {
                color: @defaultColor;
            }
        }
    }
    .error {
        color: #FF677E;
        font-size: 28px;
        >span {
            margin-left: 10px;
        }
    }
}

p,
h1,
h2,
h3,
h4,
h5,
html,
body,
img,
form,
input,
#app {
    margin: 0;
    padding: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none
}

.but {
    outline: none;
    background: linear-gradient(#f5e9c8, #e7ce97);
    color: #52320d;
    width: 570px;
    text-indent: 10px;
    letter-spacing: 10px;
    height: 88px;
}

.van-list {
    min-height: 590px;
}

// // vatui 
// .van-pull-refresh__head {
//     //下拉刷新 头部
//     width: 100%;
//     height: 0.66667rem;
//     left: 0;
//     overflow: hidden;
//     position: absolute;
//     text-align: center;
//     top: -1rem;
//     font-size: 32px;
//     color: #969799;
//     line-height: 0.66667rem;
// }
// .van-pull-refresh__loading .van-loading {
//     //下拉刷新加载框
//     width: .51333rem;
//     height: .51333rem;
//     margin-right: 0.06667rem;
// }
// // 上拉加载更多
// .van-list__finished-text,
// .van-list__loading-text {
//     color: #969799;
//     font-size: 32px;
//     line-height: 0.66667rem;
//     text-align: center;
// }
// .van-loading {
//     width: 0.8rem;
//     height: 0.8rem;
//     z-index: 0;
//     font-size: 0;
//     line-height: 0;
//     position: relative;
//     vertical-align: middle;
// }
.footer-height .van-pull-refresh {
    margin-bottom: 1.38667rem;
}

.my-vehicle .van-pull-refresh,
.friend .van-pull-refresh {
    margin-top: 1.18rem
}

.v-use .van-pull-refresh {
    margin-top: ceil(88px)
}

.van-nav-bar--fixed {
    position: fixed !important;
}

.had {
    padding-top: 1.18rem;
}

.reserve {
    background-color: #fff4e6;
    color: #fdc27a;
}

.free {
    background-color: #def7f7;
    color: #40d1d2;
}

.busy {
    background-color: #ffe2e7;
    color: #ff5f77;
}

.vehicle-list-body-status {
    min-width: 120px;
    margin: 0 auto;
    >span {
        padding: 0px 5px;
        display: block; // width: 100%;
        height: 44px;
        font-size: 26px;
        border-radius: 22px;
        line-height: 40px;
        text-align: center; // background-color: #fff4e6;
        // color: #fdc27a;
    }
}

.z-f {
    z-index: 3000;
}

img {
    border: 0
}